<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Edit QR Code</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/qr-codes">Manage QR Codes</a></li>
                    <li class="breadcrumb-item active">Edit QR Code</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                       
                        <div class="card-body">
                            <form class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputCheckpoint" type="TEXT" placeholder="Checkpoint No." />
                                    <label for="inputCheckpoint">Checkpoint No</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputLocation" type="text" placeholder="Location" />
                                    <label for="inputLocation">Location</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="inputLocation" type="text" placeholder="Details" > </textarea>
                                    <label for="inputLocation">Details</label>
                                </div>
                                
                              
                                <div class="mt-4 mb-0">
                                    <div class="d-grid"><a class="btn btn-primary btn-block" href="qr-codes">Edit QR Code</a></div>
                                </div>
                            </form>
                         
                        </div>
                    </div>
                </div>
                <div style="height: 100vh"></div>
                <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
            </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>
