<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<style>
  table tr td {
    display: inline;
  }
</style>
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">View checkpoints</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">View checkpoints</li>
                </ol>
                
                <div class="card mb-4">
                    <div class="card-body row">
                        <div class="col-sm-4">
                          <table>
                              <tr>
                                <td>Checkpoint 1-</td>
                                <td><b> CHANDIGARH DISTANCE RUNNERS, Sector 15-A, Sector 15, Chandigarh, India-	  </b></td>
                                <td><b> 28 Mar 2 PM</b></td>
                              </tr>
                              <tr>
                                <td>Checkpoint 2-</td>
                                <td><b> Manly Beach-</b></td>
                                <td><b> 28 Mar 4 PM</b></td>
                              </tr>
                              <tr>
                                <td>Checkpoint 3-</td>
                                <td><b> Cronulla Beach-</b></td>
                                <td><b> 28 Mar 6 PM</b></td>
                              </tr>
                          </table>
                        </div>
                        <div class="col-sm-8">
                          <div id="checkpoint_pins" style="width: 100%; height: 400px;"></div>

                        </div>
                       

                    </div>
                </div>
                </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>

<script type="text/javascript">
    $(document).ready(function(){
        var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];
    
    var map = new google.maps.Map(document.getElementById('checkpoint_pins'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
      
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    })
    
  </script>