<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  
<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Track User</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/users">Users</a></li>
                    <li class="breadcrumb-item active">Track User</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-header text-right">
                            <input type="date" class="form-control">
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Checkpoint</th>
                                        <th>Scan Date</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Checkpoint</th>
                                        <th>Scan Date</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jalandhar, Punjab</td>
                                        <td>13 Mar 2022 11:20 AM</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Moga, Punjab</td>
                                        <td>17 Mar 2022 11:20 AM</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Chandigarh, Punjab</td>
                                        <td>16 Mar 2022 11:20 AM</td>
                                       
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Sector 22, Chandigarh</td>
                                        <td>15 Mar 2022 11:20 AM</td>
                                       
                                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Mohali, Punjab</td>
                                        <td>15 Mar 2022 11:20 AM</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Phase 7, Sector 61</td>
                                        <td>24 Mar 2022 11:20 AM</td>
                                        
                                        
                                    </tr>

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>
