<%- include('../../layout/header.ejs') %>
<%- include('../../layout/nav.ejs') %>  

<div id="layoutSidenav">
    <%- include('../../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">View Photos</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">View Photos</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                     
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Photo</th>
                                        <th>Username</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Photo</th>
                                        <th>username</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </tfoot>
                                <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><img class="qr_img" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"></td>
                                            <td>Sumi</td>
                                            <td>Mohali</td>
                                            <td>22-15-2022 11:50 AM</td>
                                          
                                            <td>
                                                <a target="_blank" href="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg" class="btn btn-warning" >View Photo</a>
                                                <a  href="#" class="btn btn-danger" >Delete</a>

                                            </td>
                                        </tr>
                                
                                    

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
        </main>
    </div>
</div>
<%- include('../../layout/footer.ejs') %>
