<%- include('../layout/header.ejs') %>
<%- include('../layout/nav.ejs') %>  
<div id="layoutSidenav">
    <%- include('../layout/sideBar.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>CheckPoints</th>
                                <th>Track CheckPoints</th>
              
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>CheckPoints</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>PB-09-2056</td>
                                <td>
                                    <P>CheckPoint 1</P>
                                    <P>CheckPoint 2</P>
                                    <P>CheckPoint 3</P>
                                    <P>CheckPoint 4</P>
                                </td>
                                <td>
                                    <a href="track-checkpoints" class="btn btn-warning" >Track</a>
                                </td>
                             
                            </tr>

                            <tr>
                                <td>PB-09-2089</td>
                                <td>
                                    <P>CheckPoint 1</P>
                                    <P>CheckPoint 2</P>
                                    <P>CheckPoint 3</P>
                                    <P>CheckPoint 4</P>
                                </td>
                                <td>
                                    <a href="track-checkpoints" class="btn btn-warning" >Track</a>
                                </td>
                             
                            </tr>
                        </tbody>
                    </table>         
                    <!-- <div class="col-xl-6 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Total Users (50)</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="users">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Total QR Codes (60)</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="qr-codes">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Danger Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div> -->
                </div>
              
            </div>
        </main>
        <!-- <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer> -->
    </div>
</div>
<%- include('../layout/footer.ejs') %>
